@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    color:#383838;
    font-family: Poppins;
    margin: 0;
    background-color: rgb(245, 245, 245);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: 700;
    height: 10vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 80vh;
}

.settingsContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 10vw;
}

.clearButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #cc5b5b;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 3.5px solid #cc5b5b;
    transition: all 0.15s ease;
    margin-bottom: 30px;
}

.clearButton:hover {
    background-color: #cc5b5b;
    color: white;
}

.slider {

}

.selection {
    display: flex;
    justify-content: center;
    font-weight: 600;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}

.pixelContainer {
    display: grid;
    width: 40vw;
    height: 40vw;
}

.pixel {
    background-color: rgb(255, 255, 255);
    
}

.spacer{
    display: flex;
    justify-content: center;

    width: 30vw;
    height: 40vw;
}

footer {
    height: 10vh;
}