@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    color:#383838;
    font-family: Poppins;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 5rem;
    font-weight: 800;
    height: 15vh;
}

.headerSpacer {
   
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 80vh;
}

.settingsContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 30vw;
}

.colorPalette {
    width: 150px;
    height: 170px;
    transition: all 0.15s ease;
}

.palleteHeader {
    color: rgb(134, 134, 134);
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    transition: all 0.15s ease;
}


.colorsContainer {
    display: grid;
    grid-template: repeat(4,auto) / repeat(4,auto);
    width: 100%;
    height: 80%;
}

.colorOption {
    border-radius: 7px;
    border: none;
    margin: 5px;
    transition: all 0.15s ease;
}

.colorOption:hover {
    transform: scale(1.1);
} 


.colorButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(134, 134, 134);
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    transition: all 0.15s ease;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.2); 
}

.colorButton:hover {
    background-color: #ffffff;
    transform: scale(1.1);
    color: #383838;
}

.eraserButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(134, 134, 134);
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    transition: all 0.15s ease;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.2); 
}

.eraserButton:hover {
    background-color: #ffffff;
    transform: scale(1.1);
    color: #383838;
}

.clearButton {
    color: rgb(134, 134, 134);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    transition: all 0.15s ease;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.2); 
}



.clearButton:hover {
    transform: scale(1.1);
    background-color: white;
    color: #383838;
}

.slider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.selection {
    display: flex;
    justify-content: center;
    font-weight: 600;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}

.pixelContainer {
    display: grid;
    width: 30vw;
    height: 30vw;
    background-color: #ffffff;
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.3);
}

.pixel {    
    
}

.spacer{
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 40vw;
    z-index: -1;
}

footer {
    height: 5vh;
}